
h1,h2,h3,h4,h5,h6{
	font-family:"ubuntu";
}

/*
footer style
*/

.footer-links{
	text-align:center;
	float:right;
}

.footer-links  a{
	color: #aaa;
	text-shadow: 0px 1px -1px #FFF;
	
}
.footer-links a:hover{
	/*background-color: rgba(22, 53, 40, .2);*/
	text-decoration: none;
	color:black;
}

.footer{
   	/*padding-top:10px;*/
  	/*margin: 30px 0px 100px 0px;*/
  	/*border-top: 2px solid #3C3B37;*/
  	/*-moz-box-shadow:2px 2px 4px 4px #ccc;
	-webkit-box-shadow:2px 2px 4px 4px #ccc;
	box-shadow:2px 2px 4px 4px #ccc;*/
  	text-align:center;
  	position: static;
  	background-color: #eee;
  	bottom:0px;
  	margin-bottom:0px;
  	right:0px;
  	left:0px;
  	
	height: 89px;
	font-size: 10px;
	padding: 5px !important;
	width: 170px;
	margin-left: 13px !important;
	border-radius: 6px;
}

.copyright{
	float:left;
	text-align:center;
	margin left

	
}

.copyright p{
	font-family:ubuntu;
	color: #aaa;
	text-shadow: 0px 1px -1px #FFF;
	font-size: 12px;
	line-height: 15px;
}


/*
user profile
*/

.user img{
	margin-top: 4px;
	margin-right: 4px;
	height: 30px;
}




/*
Third Parties Singin
*/
.thirdprt{
	width:64px;
	height:64px;
	margin: 20px;
}
#fb
{
	background-image:url('../img/facebook_dark.png');
}

#fb:hover
{
	background-image:url('../img/facebook_active.png');
}
#tw
{
	background-image:url('../img/twitter_dark.png');
}

#tw:hover
{
	background-image:url('../img/twitter_active.png');
}
#go
{
	background-image:url('../img/google_dark.png');
}

#go:hover
{
	background-image:url('../img/google_active.png');
}
#re
{
	background-image:url('../img/reddit_dark.png');
}

#re:hover
{
	background-image:url('../img/reddit_active.png');
}
.thirdnav
{
	list-style:none;
}

.thirdnav li{
	display:inline-block
}

/*
info List
*/

#info-list a:hover{
	text-decoration:none;
}

.span5 .span6 .info{
	color:#999;
	text-align:center;
	width:150px;
	margin-left:17.5px;
}

.span6 {
	text-align:center;
	

}

/*
info List
*/

.share-box{
		
	height:200px;
	

	
}
.text-area{
	
	width:490px;
	margin:2px;
	border:1px solid #ccc;	
	height:70px;
	color:black;
	background-color:transparent;
	padding:15px;
	
}

.setting-area{
	margin:2px;
	border:1px solid #ccc;
	height:30px;
	padding-left:3px;
	padding-right:3px;
	margin-bottom:5px;
	
}

.setting-area .btn-small{
	height:15px;
	padding-top:2px;
	margin-top:3px;

}

.share-box .btn-primary{
	font-weight: bold;
}
.setting{
	
	margin-top:5px;

}

.setting i{
	margin-left:4px;
}

/*
profile box
*/

.profile-box{
	
	width:190px;
	height:120px;
	margin:auto;
	margin-top:10px;
}

.profile-box img{
	width:55px;
	height:55px;
	margin-left:5px;
	margin-top:5px;
	border-radius: 6px;
}


.top-profile-box .span8{
	
	margin-top:13px;
	margin-left:5px;
}


.bottom-profile-box .span4{
	text-align:center;
	margin: 4px 0px;
	padding-top:3px;
}

.profile-box h4,h5,h6{
	color:white;
}

.bottom-profile-box #part1, #part2{
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	margin-right:5px;
	border-radius: 6px;
}
.bottom-profile-box #part3, .top-profile-box{
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	border-radius: 6px;
}