
    <style>
      .thumbnail{
        margin-top: 16px;
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.012);
      }
      #album-action {
        background-color: rgba(0, 0, 0, 0.012);
        margin: 0px 0px 20px 0px;
        padding: 6px 0px 0px 0px;
        margin-top: 20px;
      }
      #album-action ul {
        margin-bottom: 5px;
      }
      .carousel{
        margin-top: 17px;
      }
    </style><!-- Le fav and touch icons -->
    

    <div id="main-container" class="container">
      <div class="row">
        <div class="span4 sides">

          <div class="profile-box">

            <div class="top-profile-box" >
              <div class="row-fluid">
                <div class="span4">
                  <%= image_tag "pic.png" %></div>
                <div class="span8">
                  <a href="#">
                    <h4>
                      UESRNAME
                      <i class="icon-ok-sign icon-white"></i>
                    </h4>
                  </a>
                  <a href="#">
                    <h5>Edit my profile</h5>
                  </a>
                </div>
              </div><!-- /row fluid --> </div><!-- /top-profile-box -->

            <div class="bottom-profile-box" >
              <div class="row-fluid">
                <div class="span4" id="part1">
                  <i class="icon-heart icon-white"></i>
                  <a href="#">
                    <h5>Fans</h5>
                    <h5>124</h5>
                  </a>
                </div>

                <div class="span4" id="part2">
                  <i class="icon-user icon-white"></i>
                  <a href="#">
                    <h5>Friends</h5>
                    <h5>44</h5>
                  </a>
                </div>

                <div class="span4" id="part3">
                  <i class="icon-share icon-white"></i>
                  <a href="#">
                    <h5>Sharing</h5>
                    <h5>12</h5>
                  </a>
                </div>

              </div><!-- /row fluid --> </div><!-- /bottom-profile-box --> </div><!-- /profile-box -->

          <div class="tabbable tabs-left">

            <ul class="nav nav-tabs" id="left-nav">
             <li >
                <a href="home_layout.html" data-toggle="tab">
                  <span>
                    <i class="icon-home"></i>
                    Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="profile_layout.html" data-toggle="tab" >
                  <span>
                    <i class="icon-user"></i>
                    Profile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="messages.html" data-toggle="tab">
                  <span>
                    <i class="icon-envelope"></i>
                    Messages
                  </span>
                </a>
              </li>
                  <li >
                <a href="groups.html" data-toggle="tab">
                  <span>
                    <i class="icon-th-list"></i>
                    Groups
                  </span>
                </a>
              </li>
              <li >
                <a href="friends.html" data-toggle="tab">
                  <span>
                    <i class="icon-user"></i>
                    Friends&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li class="active">
                <a href="album_preview.html" data-toggle="tab">
                  <span>
                    <i class="icon-picture"></i>
                    Photos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="videos_preview.html" data-toggle="tab">
                  <span>
                    <i class="icon-film"></i>
                    Videos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="setting.html" data-toggle="tab">
                  <span>
                    <i class="icon-cog"></i>
                    Settings&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="help.html" data-toggle="tab">
                  <span>
                    <i class="icon-flag"></i>
                    Help&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
            </ul>

          </div>

          <div class="well footer">
            <div class="copyright">
              <p>&copy; Copyright 2012 Dinobot Social Engine</p>
            </div>
            <div class="footer-links">
              <a href="#">About •</a>
              <a href="#">Privacy •</a>
              <a href="#">Terms •</a>
              <a href="#">Advertising</a>
              <a href="#">Blog •</a>
              <a href="#">Contact •</a>
              <a href="#">Help •</a>
              <a href="#">English</a>
            </div>
          </div>
        </div>

        <div class="span8 middle"><!--           <div class="thumbnail">
          <img src="photo.jpg" alt="">
          <div class="caption">
            <h5>
              <a href="#">[Photo Name]</a>
            </h5>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
        -->
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item">
              <img src="photo.jpg" alt="">
              <div class="carousel-caption">
                <h4>First Thumbnail label</h4>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
              </div>
            </div>
            <div class="item">
              <img src="assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="">
              <div class="carousel-caption">
                <h4>Second Thumbnail label</h4>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
              </div>
            </div>
            <div class="item active">
              <img src="photo.jpg" alt="photo.jpg">
              <div class="carousel-caption">
                <h4>Third Thumbnail label</h4>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
        <div id="album-action"  class="well post-actions">
          <ul class="nav nav-pills">
            <li>
              <a href="#">
                <i class="icon-ok"></i>
                Like <sup class="post-counts">32</sup>
              </a>
            </li>
            <li class="active">
              <a href="#">
                <i class="icon-comment"></i>
                Comment <sup class="post-counts">5</sup>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-share"></i>
                Share
                <sup class="post-counts">10</sup>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-star"></i>
                Favorite
                <sup class="post-counts">7</sup>
              </a>
            </li>
          </ul>
        </div>
        <textarea class="text-area" placeholder="Write Comment .... " rows="3"></textarea>
        <div class="comments">
          <div class="span2">
            <a href="#">
              <img class="profile-pic" src="pic.png" alt=""></a>
          </div>
          <div class="span2">
            <p class="user-name">
              <a href="#">User Name</a>
            </p>
          </div>
          <div class="span2 comment-content">
            <p>Nice pic bro</p>
          </div>

          <div class="post-actions">
            <ul class="nav nav-pills">
              <li>
                <a href="#">
                  <i class="icon-ok"></i>
                  Like
                  <sup class="post-counts">32</sup>
                </a>
              </li>
              <li class="active">
                <a href="#">
                  <i class="icon-comment"></i>
                  Comment
                  <sup class="post-counts">5</sup>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-share"></i>
                  Share
                  <sup class="post-counts">10</sup>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon-star"></i>
                  Favorite
                  <sup class="post-counts">7</sup>
                </a>
              </li>
            </ul>
          </div><!-- /post-actions --> </div>

      </div>
      <div class="span4 right-sidebar sides"></div><!-- /right-sidebar--> </div><!-- /container --><!-- fonts -->
