<div id="main-container" class="container">
  <div class="row">
    <div class="span4 sides">

      <div class="profile-box">
        <div class="top-profile-box" >
          <div class="row-fluid">
            <div class="span4">
              <%= image_tag "pic.png" %>
            </div> <!-- span4 --> 
            <div class="span8">
              <a href="#">
                <h4>
                  User Name <i class="icon-ok-sign icon-white"></i>
                </h4>
              </a>
              <a href="#">
                <h5>Edit my profile</h5>
              </a>
            </div><!-- span8 --> 
          </div><!-- /row fluid -->
        </div> <!-- /top-profile-box -->
        <div class="bottom-profile-box" >
          <div class="row-fluid">
            <div class="span4" id="part1">
              <i class="icon-heart icon-white"></i>
              <a href="#">
                  <h5>Fans</h5>
                  <h5>124</h5>
              </a>
            </div> <!-- span4 Part1 -->
            <div class="span4" id="part2">
              <i class="icon-user icon-white"></i>
              <a href="#">
                <h5>Friends</h5>
                <h5>44</h5>
              </a>
            </div><!-- span4 Part2 -->
            <div class="span4" id="part3">
              <i class="icon-share icon-white"></i>
              <a href="#">
                <h5>Sharing</h5>
                <h5>12</h5>
              </a>
            </div> <!-- span4 Part3 -->
          </div> <!-- /row fluid -->
        </div>  <!-- /bottom-profile-box --> 
      </div><!-- /profile-box -->
  
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" id="left-nav">
          <li class="active">
            <a href="home_layout.html" data-toggle="tab">
              <span>
                <i class="icon-home"></i>
                Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
            </a>
          </li>
          <li >
            <a href="/profiles/index" data-toggle="tab" >
              <span>
                <i class="icon-user"></i>
                Profile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
            </a>
          </li>
          <li >
            <a href="/conversations/messages" data-toggle="tab">
              <span>
                <i class="icon-envelope"></i>
                Messages
              </span>
            </a>
          </li>
          <li >
            <a href="groups.html" data-toggle="tab">
              <span>
                <i class="icon-th-list"></i>
                Groups
              </span>
            </a>
          </li>
          <li >
            <a href="friends.html" data-toggle="tab">
              <span>
                <i class="icon-user"></i>
                Friends&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
            </a>
          </li>
          <li >
            <a href="album_preview.html" data-toggle="tab">
              <span>
                <i class="icon-picture"></i>
                Photos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
            </a>
          </li>
          <li >
            <a href="videos_preview.html" data-toggle="tab">
              <span>
                <i class="icon-film"></i>
                Videos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
            </a>
          </li>
          <li >
            <a href="setting.html" data-toggle="tab">
              <span>
                <i class="icon-cog"></i>
                Settings&nbsp;&nbsp;&nbsp;
              </span>
            </a>
          </li>
          <li >
            <a href="help.html" data-toggle="tab">
              <span>
                <i class="icon-flag"></i>
                Help&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
            </a>
          </li>
          <li >
            <a href="admin_layout.html" data-toggle="tab">
              <span>
                <i class="icon-off"></i>
                Administration&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </span>
            </a>
          </li>
        </ul>
      </div> <!-- tabbable tabs-left -->

      <div class="well footer">
        <div class="copyright">
          <p>&copy; Copyright 2012 Dinobot Social Engine</p>
        </div>
        <div class="footer-links">
            <a href="#">About •</a>
            <a href="#">Privacy •</a>
            <a href="#">Terms •</a>
            <a href="#">Advertising</a>
            <a href="#">Blog •</a>
            <a href="#">Contact •</a>
            <a href="#">Help •</a>
            <a href="#">English</a>
        </div> 
      </div> <!-- well footer -->
    </div> <!-- span4 sides -->

    <div class="span8 middle">
      <h1>Timline</h1>
      
        <%=render(:partial => "posts/new")%>
    </div> <!-- span8 middle -->

  </div> <!-- row -->
</div> <!-- container -->

 