
          <h1>Messages</h1>

          <div class="messages-list">
            <h2>Back to Work Again</h2>

            <div class="message-box row">
              <div class="span4">
                <a href="#">
                  <img class="profile-pic" src="pic.png" alt=""></a>
              </div>
              <div class="span8">
                <p>
                  <a href="#">Karim El Husseiny</a>
                </p>
                <p>at 7:30 pm Monday, 12th Feb 2012</p>
                <p>
                  Hey Everyone, On the list of things guaranteed to happen from Google getting suing Google caught circumventing privacy settings on the iPhone‘s web browser, you can check off “lawsuit.” At least two people are separately suing Google, accusing the search giant suing Google of violating federal laws.
                  <br/>
                  See u Soon Byee ;)
                </p>
              </div>
            </div><!-- /messages-box-->

            <div class="message-box row">
              <div class="span4">
                <a href="#">
                  <img class="profile-pic" src="pic.png" alt=""></a>
              </div>
              <div class="span8">
                <p>
                  <a href="#">Ahmed El Husseiny</a>
                </p>
                <p>at 8:30 pm Monday, 12th Feb 2012</p>
                <p>
                  Hey Karim,
                  <br/>
                  At least two people are separately suing Google, accusing the search giant suing Google of violating federal laws.
                </p>
              </div>
            </div><!-- /messages-box-->

            <div class="message-box row">
              <div class="span4">
                <a href="#">
                  <img class="profile-pic" src="pic.png" alt=""></a>
              </div>
              <div class="span8">
                <p>
                  <a href="#">Karim El Husseiny</a>
                </p>
                <p>at 7:30 pm Monday, 12th Feb 2012</p>
                <p>
                  Hey Everyone, On the list of things guaranteed to happen from Google getting suing Google caught circumventing privacy settings on the iPhone‘s web browser, you can check off “lawsuit.” At least two people are separately suing Google, accusing the search giant suing Google of violating federal laws.
                  <br/>
                  See u Soon Byee ;)
                </p>
              </div>
            </div><!-- /messages-box-->
            <textarea class="text-area" placeholder="" rows="3"></textarea>
            <button class="btn btn-primary pull-right">Reply</button>

          </div><!-- /messages-list--> 
  