
          <h1>Messages</h1>

          <div class="messages-list">
            <div class="messages-setting">
              <button type="submit" class="btn pull-left">
                <i class="icon-plus"></i>
              </button>
              <button type="submit" class="btn pull-left">
                <i class="icon-trash"></i>
              </button>
              <button type="submit" class="btn pull-left">
                <i class="icon-star"></i>
              </button>
              <button type="submit" class="btn pull-left">
                <i class="icon-folder-open"></i>
              </button>

              <input type="text" class="input-medium search-query pull-right">
              <div class="btn-group pull-right">
                <a class="btn btn-primary more-button dropdown-toggle" data-toggle="dropdown" href="#">All</i>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu ">
                <li>
                  <a href="#">Unread</a>
                </li>
                <li>
                  <a href="#">Read</a>
                </li>
                <li>
                  <a href="#">Favorites</a>
                </li>
                <li>
                  <a href="#">Sent Messages</a>
                </li>
              </ul>
            </div><!-- /btn-group--> </div><!-- /messages-setting-->

          <div class="message-box row">
            <div class="span4">
              <a href="#">
                <img class="profile-pic" src="pic.png" alt=""></a>
            </div>
            <div class="span8">
              <p >
                <a href="#">Back to work again!</a>
              </p>
              <p>
                <a href="#">by Karim El Husseiny</a>
                at 7:30 pm in 12th Feb 2012
              </p>
              <p>
                <a href="#">
                  Hey Everyone, hope you're fine it's time now to work again....
                </a>
              </p>
            </div>
            <div class="span2">
              <input type="checkbox" id="optionsCheckbox" value="option1"></div>
          </div><!-- /messages-box-->

          <div class="message-box row">
            <div class="span4">
              <a href="#">
                <img class="profile-pic" src="pic.png" alt=""></a>
            </div>
            <div class="span8">
              <p >
                <a href="#">Back to work again!</a>
              </p>
              <p>
                <a href="#">by Karim El Husseiny</a>
                at 7:30 pm in 12th Feb 2012
              </p>
              <p>
                <a href="#">
                  Hey Everyone, hope you're fine it's time now to work again....
                </a>
              </p>
            </div>
            <div class="span2">
              <input type="checkbox" id="optionsCheckbox" value="option1"></div>
          </div><!-- /messages-box-->

          <div class="message-box row">
            <div class="span4">
              <a href="#">
                <img class="profile-pic" src="pic.png" alt=""></a>
            </div>
            <div class="span8">
              <p >
                <a href="#">Back to work again!</a>
              </p>
              <p>
                <a href="#">by Karim El Husseiny</a>
                at 7:30 pm in 12th Feb 2012
              </p>
              <p>
                <a href="#">
                  Hey Everyone, hope you're fine it's time now to work again....
                </a>
              </p>
            </div>
            <div class="span2">
              <input type="checkbox" id="optionsCheckbox" value="option1"></div>
          </div><!-- /messages-box-->

          <div class="message-box row">
            <div class="span4">
              <a href="#">
                <img class="profile-pic" src="pic.png" alt=""></a>
            </div>
            <div class="span8">
              <p >
                <a href="#">Back to work again!</a>
              </p>
              <p>
                <a href="#">by Karim El Husseiny</a>
                at 7:30 pm in 12th Feb 2012
              </p>
              <p>
                <a href="#">
                  Hey Everyone, hope you're fine it's time now to work again....
                </a>
              </p>
            </div>
            <div class="span2">
              <input type="checkbox" id="optionsCheckbox" value="option1"></div>
          </div><!-- /messages-box-->

          <div class="message-box row ">
            <div class="span4">
              <a href="#">
                <img class="profile-pic" src="pic.png" alt=""></a>
            </div>
            <div class="span8">
              <p >
                <a href="#">Back to work again!</a>
              </p>
              <p>
                <a href="#">by Karim El Husseiny</a>
                at 7:30 pm in 12th Feb 2012
              </p>
              <p>
                <a href="#">
                  Hey Everyone, hope you're fine it's time now to work again....
                </a>
              </p>
            </div>
            <div class="span2">
              <input type="checkbox" id="optionsCheckbox" value="option1"></div>
          </div><!-- /messages-box-->

          <div class="message-box row">
            <div class="span4">
              <a href="#">
                <img class="profile-pic" src="pic.png" alt=""></a>
            </div>
            <div class="span8">
              <p >
                <a href="#">Back to work again!</a>
              </p>
              <p>
                <a href="#">by Karim El Husseiny</a>
                at 7:30 pm in 12th Feb 2012
              </p>
              <p>
                <a href="#">
                  Hey Everyone, hope you're fine it's time now to work again....
                </a>
              </p>
            </div>
            <div class="span2">
              <input type="checkbox" id="optionsCheckbox" value="option1"></div>
          </div><!-- /messages-box-->

          <div class="pagination pull-right">
            <ul>
              <li class="disabled">
                <a href="#">«</a>
              </li>
              <li class="active">
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">»</a>
              </li>
            </ul>
          </div>
        </div><!-- /messages-list-->