    <div id="main-container" class="container">
      <div class="row">
        <div class="span4 sides">

          <div class="profile-box">

            <div class="top-profile-box" >
              <div class="row-fluid">
                <div class="span4">
                  <%= image_tag "pic.png" %></div>
                <div class="span8">
                  <a href="#">
                    <h4>
                      UESRNAME
                      <i class="icon-ok-sign icon-white"></i>
                    </h4>
                  </a>
                  <a href="#">
                    <h5>Edit my profile</h5>
                  </a>
                </div>
              </div><!-- /row fluid --> </div><!-- /top-profile-box -->

            <div class="bottom-profile-box" >
              <div class="row-fluid">
                <div class="span4" id="part1">
                  <i class="icon-heart icon-white"></i>
                  <a href="#">
                    <h5>Fans</h5>
                    <h5>124</h5>
                  </a>
                </div>

                <div class="span4" id="part2">
                  <i class="icon-user icon-white"></i>
                  <a href="#">
                    <h5>Friends</h5>
                    <h5>44</h5>
                  </a>
                </div>

                <div class="span4" id="part3">
                  <i class="icon-share icon-white"></i>
                  <a href="#">
                    <h5>Sharing</h5>
                    <h5>12</h5>
                  </a>
                </div>

              </div><!-- /row fluid --> </div><!-- /bottom-profile-box --> </div><!-- /profile-box -->

          <div class="tabbable tabs-left">

            <ul class="nav nav-tabs" id="right-nav">
               <li >
                <a href="home_layout.html" data-toggle="tab">
                  <span>
                    <i class="icon-home"></i>
                    Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="profile_layout.html" data-toggle="tab" >
                  <span>
                    <i class="icon-user"></i>
                    Profile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li class="active"  >
                <a href="messages.html" data-toggle="tab">
                  <span>
                    <i class="icon-envelope"></i>
                    Messages
                  </span>
                </a>
              </li>
               <li >
                <a href="groups.html" data-toggle="tab">
                  <span>
                    <i class="icon-th-list"></i>
                    Groups
                  </span>
                </a>
              </li>
              
              <li >
                <a href="friends.html" data-toggle="tab">
                  <span>
                    <i class="icon-user"></i>
                    Friends&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="album_preview.html" data-toggle="tab">
                  <span>
                    <i class="icon-picture"></i>
                    Photos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="videos_preview.html" data-toggle="tab">
                  <span>
                    <i class="icon-film"></i>
                    Videos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="setting.html" data-toggle="tab">
                  <span>
                    <i class="icon-cog"></i>
                    Settings&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="help.html" data-toggle="tab">
                  <span>
                    <i class="icon-flag"></i>
                    Help&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
            </ul>

          </div>

          <div class="well footer">
            <div class="copyright">
              <p>&copy; Copyright 2012 Dinobot Social Engine</p>
            </div>
            <div class="footer-links">
              <a href="#">About •</a>
              <a href="#">Privacy •</a>
              <a href="#">Terms •</a>
              <a href="#">Advertising</a>
              <a href="#">Blog •</a>
              <a href="#">Contact •</a>
              <a href="#">Help •</a>
              <a href="#">English</a>
            </div>
          </div>
        </div>

        <div class="span8 middle">
          <h1>Messages</h1>

          <div class="messages-list">
            <h2>Back to Work Again</h2>

            <div class="message-box row">
              <div class="span4">
                <a href="#">
                  <img class="profile-pic" src="pic.png" alt=""></a>
              </div>
              <div class="span8">
                <p>
                  <a href="#">Karim El Husseiny</a>
                </p>
                <p>at 7:30 pm Monday, 12th Feb 2012</p>
                <p>
                  Hey Everyone, On the list of things guaranteed to happen from Google getting suing Google caught circumventing privacy settings on the iPhone‘s web browser, you can check off “lawsuit.” At least two people are separately suing Google, accusing the search giant suing Google of violating federal laws.
                  <br/>
                  See u Soon Byee ;)
                </p>
              </div>
            </div><!-- /messages-box-->

            <div class="message-box row">
              <div class="span4">
                <a href="#">
                  <img class="profile-pic" src="pic.png" alt=""></a>
              </div>
              <div class="span8">
                <p>
                  <a href="#">Ahmed El Husseiny</a>
                </p>
                <p>at 8:30 pm Monday, 12th Feb 2012</p>
                <p>
                  Hey Karim,
                  <br/>
                  At least two people are separately suing Google, accusing the search giant suing Google of violating federal laws.
                </p>
              </div>
            </div><!-- /messages-box-->

            <div class="message-box row">
              <div class="span4">
                <a href="#">
                  <img class="profile-pic" src="pic.png" alt=""></a>
              </div>
              <div class="span8">
                <p>
                  <a href="#">Karim El Husseiny</a>
                </p>
                <p>at 7:30 pm Monday, 12th Feb 2012</p>
                <p>
                  Hey Everyone, On the list of things guaranteed to happen from Google getting suing Google caught circumventing privacy settings on the iPhone‘s web browser, you can check off “lawsuit.” At least two people are separately suing Google, accusing the search giant suing Google of violating federal laws.
                  <br/>
                  See u Soon Byee ;)
                </p>
              </div>
            </div><!-- /messages-box-->
            <textarea class="text-area" placeholder="" rows="3"></textarea>
            <button class="btn btn-primary pull-right">Reply</button>

          </div><!-- /messages-list--> </div><!-- /middle-->

        <div class="span4 right-sidebar sides"></div><!-- /right-sidebar--> </div>
  