<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Dinobot Social Engine</title>

	<%= stylesheet_link_tag    "application", :media =>
		"all" %>
		<%= javascript_include_tag "application" %>
			<%= csrf_meta_tags %>

				<style>
      body {
        padding-top: 60px;
        font-family:"ubuntu";
        zoom: 96%;
        background-image:url("/assets/patternBg.png");
      }
    .LoginArea{
      float: right;
      margin-top: 31px;
      margin-right: 5px;
      color:white;
      display: block;
      font-size: 17px;
      
    }
    .navbar .brand {
    font-family:'Arista';
    font-weight:bold;
    float: left;
    display: block;
    padding: 4px 38px 12px;
    margin-left: -45px;
    line-height: 1;
    
text-shadow: 4px 3px 0px rgba(204, 204, 204,.3);
    color: #fff;
    font-size: 100px;
    margin-top: -2px;
    margin-left: -37px;
   
    color: #fff;  
  }
     .navbar .brand:hover {
      text-decoration: none;
      box-shadow: 0px 0px 0px 0px rgba(255,255,255, 0.4);
    text-shadow: 4px 3px 0px rgba(204, 204, 204,.1);
}
    .LoginArea button{
    position: relative;
    right: 0px;
    top: -6px;
    margin-left: 8px;
    font-size: 15px;
    padding: 10px;
    }

     

    #container-main{
      background-repeat:repeat-y;
      background-position:center; 
      color:white;
      margin:auto;
    }
    #container-main h1,h2{
      color:white; 
    }

    #container-main h3{
      color:#999;
    }

    #container-main h1{
      font-size:42px;
      width:auto;
      margin-bottom: 20px;
      line-height:120%;   
      margin-right: 62px;
      line-height: 53px;
    }
   .span7{     
    margin-top:70px;
    background-color: rgba(0, 0, 0, .3);
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    padding-left:50px;
    width: 490px;;
    height:500px;
    padding-top:14px;
  }
  .span5{
      
    margin-top:70px;
    background-color: rgba(0, 0, 0, .3);
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    padding-left:0px;
    height:500px;
    padding-top:14px;

    }
  .span7 button{
      margin-top: 20px;
      margin-bottom: 30px;
  
    }

      #fix{
        margin-left: 0px;
      }

    

      /*
footer style
*/

.navbar-inner {
  background-color: rgba(0,0,0,0.7);
  height: 101px;
  background-image:none;
}

.footer-home{
    padding-top:10px;
    
    text-align:center;
    height:30px;
    position: static;
    background-color:transparent !important;
    border:0.5px solid #C4C1BD;
    bottom:0px;
    margin-bottom:0px;
    right:0px;
    left:0px;
    margin-top:20px;

    
}

.footer-links-home{
  text-align:center;
  
  float: none;
}
.footer-links-home ul{
  list-style:none;
  
}
.footer-links-home li{
  display:inline;
  
}

.footer-links-home li:after{
  content:"•";
  padding:0 5px;
  color:#BBB;
}

.footer-links-home li:last-child:after{
  content:"";
  
}

.footer-links-home  a{
  color: #BBB;
  
}
.footer-links-home a:hover{
  
  text-decoration: none;
  color:grey;
}


.copyright-home{
  
  float: none;
  text-align:center;
  margin left


  
}

.copyright-home p{
  font-family:ubuntu;
  color:#BBB;
  margin-top:5px;
}

  #footer-contrainer{
        background-color: rgba(0, 0, 0, .3);
        -moz-border-radius: 18px;
        -webkit-border-radius: 18px;
        border-radius: 18px;
        padding-top:0px;
  }   
     .navbar-fixed-top{
      position:absolute;
     }
     
    </style>
				<!-- Le fav and touch icons -->
				<link rel="shortcut icon" href="images/favicon.ico">
				<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
				<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
				<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"></head>

<body>

				<div class="navbar navbar-fixed-top">
					<div class="navbar-inner">
						<div class="container">
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="i-bar"></span>
								<span class="i-bar"></span>
								<span class="i-bar"></span>
							</a>
							<a class="brand" href="#">Dinobot</a>

							<div class="LoginArea">
								Have Already Account?
								<button type="submit" class="btn btn-primary">Login</button>
							</div>

						</div>
					</div>
				</div>

				<div class="container" id="container-main">

					<div class="row">
						<div class="span7">
							<h1>Discover your creative talents, happiness, and fun!</h1>
							<h3>Dinobot is the best place to show your different!.</h3>
							<h3>When it absolutely, positively</h3>
							<h3>has to be overnight</h3>
							<button type="submit" class="btn btn-large btn-danger">Sign Up Now!</button>
							<h2>or connect using</h2>
							<ul class="thirdnav">
								<li>
									<a href="#">
										<div class="thirdprt" id="fb" ></div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="thirdprt" id="tw" ></div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="thirdprt" id="go" ></div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="thirdprt" id="re" ></div>
									</a>
								</li>
							</ul>

						</div>

						<div class="span5">
							<div class="row-fluid" id="info-list">

								<div class="span6">
									<a href="">
										<img src="/assets/icon1.gif">
										<h2>Choice</h2>
										<p class="info">
											You own your pictures, and you shouldn’t have to give that up just to share them.
										</p>
									</a>
								</div>

								<div class="span6">
									<a href="">
										<img src="/assets/icon3.gif">
										<h2>Simplicity</h2>
										<p class="info">
											Social mobility to the movement of individuals groups in social position over time.
										</p>
									</a>
								</div>

								<div class="span6" id="fix">
									<a href="">
										<img src="/assets/icon2.gif">
										<h2>Ownership</h2>
										<p class="info">
											You own your pictures, and you shouldn’t have to give that up just to share them.
										</p>
									</a>
								</div>

								<div class="span6">
									<a href="">
										<img src="/assets/icon2.gif">
										<h2>Mobility</h2>
										<p class="info">
											Social mobility to the movement of individuals groups in social position over time.
										</p>
									</a>
								</div>

							</div>

						</div>
					</div>

				</div>

				<footer class="footer-home">
					<div class="container" id="footer-contrainer">
						<div class="copyright-home">
							<p>&copy; Copyright 2012 Dinobot Social Engine</p>
						</div>
						<div class="footer-links-home">
							<ul>
								<li>
									<a href="#">About</a>
								</li>
								<li>
									<a href="#">Privacy</a>
								</li>
								<li>
									<a href="#">Terms</a>
								</li>
								<li>
									<a href="#">Advertising</a>
								</li>
								<li>
									<a href="#">Blog</a>
								</li>
								<li>
									<a href="#">Contact</a>
								</li>
								<li>
									<a href="#">Help</a>
								</li>
							</ul>
						</div>
					</div>
				</footer>

</body>
			</html>