<h1>Timline</h1>
<div class="share-box">
  <%= form_for @post do |f| %>
    <%= f.text_area(:content, :class => "share-text-area") %>  
    <div class="settings-area">
      <div class="settings pull-right">
        <a href="#">
          <i class="icon-play"></i>
        </a>
        <a href="#">
          <i class="icon-camera"></i>
        </a>
        <a href="#">
          <i class="icon-map-marker"></i>
        </a>
        <a href="#">
          <i class="icon-tag"></i>
        </a>

      </div> <!-- settings pull-right -->
      <div class="btn-group pull-left">
      <a class="btn btn-small  btn-success dropdown-toggle" data-toggle="dropdown" href="#">
        Public
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu ">
        <li>
          <a href="#">Public</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">Friends</a>
        </li>
        <li>
          <a href="#">Family</a>
        </li>
        <li>
          <a href="#">Co-Workers</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">Specific People</a>
        </li>
      </ul>
      </div> <!-- btn-group pull-left -->
    </div> <!-- settings-area -->
    <i class="icon-share icon-white"></i><%= f.submit "Share",:class => "btn btn-primary pull-right"%>
  <%end%>        
</div>  <!-- /share-box -->
<hr class="separator">
<% @posts.each do |post| %>
	<%=render(:partial => new_post_path, :locals => {:post => post})%>
	<hr class="separator">
<% end %> 
 