<h1>Aspects</h1>

<div class="friends-list">

  <div class="friends-search">
    <a href="<%=new_aspect_path%>">
    <button type="submit" class="btn pull-left">
      <i class="icon-plus"></i>
      Create New Aspect
    </button>
    </a>
    <button type="submit" class="btn pull-right">Search</button>
    <input type="text" class="input-medium search-query pull-right">
    <div class="btn-group pull-right">
      <a class="btn search-setting btn-small dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-search"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu ">
        <li>
          <a href="#">by Name</a>
        </li>
        <li>
          <a href="#">by Location</a>
        </li>
        <li>
          <a href="#">by Network</a>
        </li>
        <li>
          <a href="#">by Interest</a>
        </li>
      </ul>
    </div>
    <!-- /btn-group--> </div>
  <!-- /friends-search-->
  <%@current_user.aspects[0].people.each do |aspect_member| %>
      <div class="friend-box span4">
      <div class="span4">
        <%= image_tag "pic.png" %></div>
      <div class="span8">
        <a href="#">
          <h4>User Username</h4>
        </a>
        <div class="btn-group pull-left">
          <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
            Friends
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu ">
            <li>
              <a href="#">
                <i class="icon-ok-circle"></i>
                Friends
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <i class="icon-list"></i>
                Collegues
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-list"></i>
                Family
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-list"></i>
                Co-Workers
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-plus"></i>
                Add to New List
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <i class="icon-remove"></i>
                Remove from friends
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-ban-circle"></i>
                Block
              </a>
            </li>
          </ul>
        </div>
        <!-- /btn-group--> </div>
      <!-- /span8--> </div>
      <!-- /friend-box-->
  <%end%>

  <div class="btn-group pull-left" style="clear:both;">
    <a class="btn aspects-btn dropdown-toggle" data-toggle="dropdown" href="#">
      All Aspects
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu ">
      <li>
          <a href="#"> <i class="icon-list"></i> All Aspects </a>
      </li>
      <%@current_user.aspects.each do |aspect| %>
      <%next if aspect.name == 'MyAspects'%>
        <li>
          <a href="#"> <i class="icon-list"></i> <%=aspect.name%></a>
        </li>
      <%end%>  
    </ul>
  </div>
  <!-- /btn-group-->

  <div class="pagination pull-right">
    <ul>
      <li class="disabled">
        <a href="#">«</a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">»</a>
      </li>
    </ul>
  </div>
</div>