 #logo{
        height: 39px;
        float: left;
        margin-left: -19px;
        padding-right: 0px;
      }
.navbar-search {
    border-left: 1px solid #ccc;
    padding-left:10px;
    /*height: 36px;*/
    /*margin-top: 5px;*/
}
 .navbar-search .search-query{
    border:1px inset #fff;
    
 }
 .navbar-search .search-query:focus{
    /*width: 500px;*/
    text-shadow: 0 0px 0 #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
    /*border: 1px outset #fff;*/
}



/*
user profile
*/

.img_h {
    height:28px;
    padding: 3px;
    width:30px;
}
.img_h img{
    width: 27px !important;
    height: 27px !important;

   
}
.user .btn-group{
    margin-right: 45px;
}


.nav-collapse .dropdown-toggle {
    height: 25px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.nav-collapse .dropdown-toggle{
         height:25px;
      }
.navbar-inner .nav-collapse .nav{
        margin-top:5px;
      }

            
      .btn-group img{
        float:left;
        margin-top: 1px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        margin-right: 0px;

      }

      .btn-group img:hover{
        box-shadow: 0px 0px 2px 1px #006dcc;
      }

/*user info in left sidebar*/
.sides{
    height:400px;
    width: 205px;
    top: 69px;
}
/* right sidebar */
.right-sidebar{
        height:1800px;
        margin-left:1px;
        margin-top: -15px;
      }


/*Horizontal tabs */
      .span8 #tab .active a{
/*        color: #fff;
        text-shadow: 0px 1px 1px #000;
        margin-bottom: 1px;
        height: 13px;*/
/*        background-image: -webkit-linear-gradient(top,rgba(0, 136, 204,0.8) ,rgba(0, 68, 204,.8) );
        background-image: -moz-linear-gradient(top,rgba(0, 136, 204,0.8) ,rgba(0, 68, 204,.8) );
        background-image: linear-gradient(top,rgba(0, 136, 204,0.8) ,rgba(0, 68, 204,.8) );*/
        /*border-radius:4px 4px 0px 0px;
        box-shadow: 0px 1px 3px 0.8px #ccc;
        border-bottom-color: #ddd;*/
      }
/*
footer style
*/

.footer-links{
    text-align:center;
    float:right;
}

.footer-links  a{
    color: #aaa;
    text-shadow: 0px 1px -1px #FFF;
    
}
.footer-links a:hover{
    /*background-color: rgba(22, 53, 40, .2);*/
    text-decoration: none;
    color:black;
}

.footer{
    
    text-align:center;
    position: static;
    background-color: #eee;
    bottom:0px;
    margin-bottom:0px;
    right:0px;
    left:0px;
    
    height: 89px;
    font-size: 10px;
    padding: 5px !important;
    width: 170px;
    margin-left: 13px !important;
    border-radius: 6px;
}

.copyright{
    float:left;
    text-align:center;
    margin left

    
}

.copyright p{
    font-family:ubuntu;
    color: #aaa;
    text-shadow: 0px 1px -1px #FFF;
    font-size: 12px;
    line-height: 15px;
}



/*
Third Parties Singin
*/
.thirdprt{
    width:64px;
    height:64px;
    margin: 20px;
}
#fb
{
    background-image:url('facebook_dark.png');
}

#fb:hover
{
    background-image:url('facebook_active.png');
}
#tw
{
    background-image:url('twitter_dark.png');
}

#tw:hover
{
    background-image:url('twitter_active.png');
}
#go
{
    background-image:url('google_dark.png');
}

#go:hover
{
    background-image:url('google_active.png');
}
#re
{
    background-image:url('reddit_dark.png');
}

#re:hover
{
    background-image:url('reddit_active.png');
}
.thirdnav
{
    list-style:none;
}

.thirdnav li{
    display:inline-block
}

/*
info List
*/

#info-list a:hover{
    text-decoration:none;
}

.span5 .span6 .info{
    color:#999;
    text-align:center;
    width:150px;
    margin-left:17.5px;
}

.span6 {
    text-align:center;
}

/*
info List
*/

/* Middle Container*/
.middle{
    padding:15px;
    width:520px;
    margin-left: 1px;
    border-left:2px solid rgba(191,191,191, 0.5);
    border-right: 2px solid rgba(191,191,191, 0.5);
    padding-top: 7px;
    margin-top: -15px;
  }

.middle h1,h2,h3 {
    margin-top: 5px;
    color: #0044cc;  
    text-shadow: 1px 1px 1px #000;
}
.separator{
    width:551px;
    margin:0px;
    margin-left:-15.5px;
    height:1px;
    background:#ccc;
}  
.well{
    padding: 0px;
    margin-left:0px;
}
/* Middle Container*/

/*Share Box*/
.share-box{      
    height:150px;
    padding:0px;  
}
.share-text-area{
    height: 50px;
    width:498px;
    margin-left:-10px;
    border:1px solid #ccc;  
    color:black;
    background-color:white;
    padding:10px;
    font-size: 13px;
    font-family: "Ubuntu";
    box-shadow: inset 0px 0px 3.3px 1px #ddd;
}
.settings-area{
    background-color:white;
    margin-left:-9px;
    margin-top:-5px;
    border:1px solid #ccc;
    height:30px;
    padding: 0px 3px;
    margin-bottom:5px;
    box-shadow: 0px 0px 0.3px 1px #ddd;
    border-radius: 6px;
}
.settings-area .btn-small{
    height:15px;
    padding-top:2px;
    margin-top:3px;
}
.share-box .btn-primary{
    font-weight: bold;
    height: 40px;
    width: 95px;
}
.settings{ 
    padding-top:2px;   
    margin-top:5px;
}
.settings i{
    margin-left:4px;
}
/*Share Box*/

/* post box style*/
.post-box{
    margin-top:10px;
   

}
.post-box:hover{
    
 
}
.post-box > a{
    float: right;
    margin-top: 3px;
    margin-right: 5px;
}
.post-box > a:hover{
    background-color:#ccc;
}
.post-box > .content-header{
    margin:0px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3.3px 1px #ddd;
    padding:5px;
    padding-top:10px;

    
}
.post-box > .content-header:hover{
    background: rgba(238, 238, 238, .01);
}
.post-box .content-header .span4{ 
    width:60px;
    text-align:center;
    margin:0px;
    margin-right:5px;

}
.post-box .profile-pic{
    height:50px;
    width:50px;
    background: rgba(0, 0, 0, 0.01);
    border-radius: 10px;
    box-shadow: 0px 0px 3.3px 1px #ddd;
}
.post-box .content-header .span8{
    margin:0px;
    margin-right:0px;
    padding-top:3px;
    width: 425px;
}

.post-box .content-header .post-title{
    margin-top:10px;
    margin-bottom:10px;

}
.content-header .span4, .content-header .span8 p a{
    font-size: 19px;
    font-weight: bold;
    color:#555;
}

.post-box .header-bottom .span4{
        width:170px;
        text-align:left;
        margin-left:20px;
        padding-top:5px;
}
.post-box .header-bottom .span4 p{
    margin-top: -3px;
    color: #AAA;
    text-shadow: -0.1px 0.3px 1px #AAA;
    font-size: 11px;
}

.post-box .header-bottom .span8{
    width:250px;
    height:29px;
    padding:0px;
}
.post-actions .nav-pills > li > a{
    padding:3px;
    margin-left:2px;
    -webkit-border-radius: 0.9px;
    -moz-border-radius: 5px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    background-color: transparent;
}
.post-actions ul{
    width:360px;
}
.post-actions ul li{
    float:right;
}
.post-actions .nav-pills .active > a, .post-actions .nav-pills .active > a:hover{
    color: #344;
}

.post-actions .nav > li > a:hover{
    background-color:#ccc;
}
.post-actions .post-counts{
    background-color: #ddd;
    padding: 2px; 
    border-radius: 4px;
}

.content{
    /*background: rgba(0, 0, 0, 0.05);*/
    margin-top: 0px;
    padding: 15px 5px 5px 79px;
}
.inner-content{
    background: rgba(0, 0, 0, 0.02);
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 3.3px 1px #ddd;
}
/* Post-Style */

/* Comment Style */
.comments{
    margin-top:10px;
    margin-left:70px;
    margin-right:25px;
}
.comments > a{
    float: right;
    margin-top: 3px;
    margin-right: 5px;
}
.comments > a:hover{
    background-color:#ccc;
}
.comments .content-header{
    margin:0px;
    background: white;
    box-shadow: 0px 0px 3.3px 1px #ddd;
    padding:10px;
    margin-bottom:2px;   
}
.comments > .content-header:hover{
    background: rgba(238, 238, 238, .01);
}
.comments .content-header:nth-child(2) {
     border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.comments .content-header:nth-last-child(2) {
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px; 
}
.comments .content-header > .span4{ 
    width:40px;
    text-align:center;
    margin:0px;
    margin-right:5px;

}
.comments .profile-pic{
    height:30px;
    width:30px;
    background: rgba(0, 0, 0, 0.01);
    border-radius: 5px;
    box-shadow: 0px 0px 3.3px 1px #ddd;
}
.comments .content-header > .span8{
    margin:0px;
    margin-right:0px;
    padding-top:3px;
    width: 340px;
}

.comments .content-header .comment-title{
    margin-top:10px;
    margin-bottom:10px;

}
.comments .content-header > .span4, .comments .content-header > .span8 p a{
    font-size: 19px;
    font-weight: bold;
    color:#555;
}
.comments .header-bottom .span4{
        width:170px;
        text-align:left;
        margin-left:20px;
        padding-top:5px;
}
.comments .header-bottom .span4 p{
    margin-top: -3px;
    color: #AAA;l
    text-shadow: -0.1px 0.3px 1px #AAA;
    font-size: 11px;
    text-align:right;
}

.comments .header-bottom .span8{
    width:100px;
    height:29px;
    padding:0px;
    margin-left:20px;
}
.comment-actions .nav-pills > li > a{
    padding:3px;
    margin-left:2px;
    -webkit-border-radius: 0.9px;
    -moz-border-radius: 5px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    background-color: transparent;
}
.comment-actions .comment-counts{
background-color: #DDD;
padding: 2px;
border-radius: 4px;
}
.comment-actions .nav-pills .active > a, .comment-actions .nav-pills .active > a:hover{
    color: #344;
}

.comment-actions .nav > li > a:hover{
    background-color:#ccc;
}
.comment-actions .comment-counts{
    background-color: #ddd;
    padding: 2px; 
    border-radius: 4px;
}

.comments .btn{
    margin-right:0px
}
.comment-text-area{
    margin-left:-2px ;
    height: 20px;
    width:406px;
    margin-top:-5px;
    border:1px solid #ccc;  
    color:black;
    background-color:rgba(238, 238, 238, .4);
    padding:10px;
    font-size: 13px;
    font-family: "Ubuntu";
    box-shadow: inset 0px 0px 3.3px 1px #ddd;
    max-height: 30px;
    min-height: 30px;
    max-width: 390px;
    min-width: 390px;
}



div.tags{
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    height: auto;
    padding: 13px;
    background-color: transparent;
}
.span8 .label-info {
    color: black;
    text-shadow: 0px 0px 1.3px black;
    padding: 1px;
    border-radius: 0px;
    font-size: 12.75px;
}

.user .btn{
    background-image: none;
}
.user{
    margin-right:  -35px;
}

.nav > li > a:hover{
    background-color: transparent;
    border: 0px solid transparent;
}


/* profile box*/
.profile-box{
    width:190px;
    height:120px;
    margin:auto;
    margin-top:0px;
}
.profile-box img{
    width:55px;
    height:55px;
    margin-left:5px;
    margin-top:5px;
    border-radius: 6px;
}
.top-profile-box .span8{ 
    margin-top:13px;
    margin-left:5px;
}
.bottom-profile-box .span4{
    text-align:center;
    margin: 4px 0px;
    padding-top:3px;
}
.profile-box h4,h5,h6{
    color: #fff;
    text-shadow: 0px 0px 0px #ccc;
}
.bottom-profile-box #part1, #part2{
    background: -webkit-linear-gradient(top, #0088cc, #0044cc);
    margin-right:5px;
    border-radius: 6px;
}
.bottom-profile-box #part3, .top-profile-box{ 
    background: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background: -moz-linear-gradient(top, #0088cc, #0044cc);
    background: linear-gradient(top, #0088cc, #0044cc);
    border-radius: 6px;
}
/* profile box*/



/*left sidebar tabs*/
.tabs-left .nav-tabs {
    width: 205px;
    padding: 10px;
    padding-right: -0px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    text-shadow: -0.1px 0.3px 1px #003A56;
}

#left-nav > li > a span:hover{
    color: black;
    background-image:-webkit-linear-gradient(#fff, #eee);
    background-image:-moz-linear-gradient(#fff, #eee);
    background-image:linear-gradient(#fff, #eee);
    box-shadow: 0px 1px 3px 0.8px #ccc;
}
#left-nav > li.active > a span:hover{
     background-color: transparent;
     background-image: -webkit-linear-gradient(transparent,transparent);
     box-shadow: 0px 0px 0px 0.8px #ccc;
}
#left-nav > li > a{
    /*color: #fff;*/
    text-shadow: 0px 1px 1px #000;
    margin-bottom: 4px;
    height: 25px;
}

.tabs-left .nav-tabs .active > a, .tabs-left .nav-tabs .active > a:hover {
        /*background-image:-webkit-linear-gradient(#fff, #eee);
        background-image:-moz-linear-gradient(#fff, #eee);
        background-image:linear-gradient(#fff, #eee);*/
        background-image:-webkit-linear-gradient(top,rgba(0, 136, 204,0.8) ,rgba(0, 68, 204,.8) );
        border-radius: 13px 3px 3px 13px;
        box-shadow: 0px 1px 3px 0.8px #ccc;
        color: #fff;
}


#left-nav > li.active > a span:hover {
background-color: transparent;
background-image: -webkit-linear-gradient(transparent,transparent);
box-shadow: 0px 0px 0px 0.8px #ccc;
}

#left-nav > li.active > a span:hover {
background-color: transparent;
background-image: -webkit-linear-gradient(transparent,transparent);
box-shadow: 0px 0px 0px 0.8px #ccc;
cursor: pointer;
}

li span:hover {
background-color: transparent;
}

.active span {
background-color: rgba(0, 110, 165, 0.0);
}

li span {
background-color: rgba(0, 0, 0, 0.06);
padding: 7px 0px 7px 30px;
border-radius: 19px;
margin-left: -9px;
display: block;
margin-right: -12px;
border-bottom-right-radius: 0px;
border-top-right-radius: 0px;
}

/*search box*/
.container form{
    margin-top: 9px;
    margin-left: 10px;
}

.container form input{

    /*width:auto;*/
}

/*
Friend list
*/

.friends-list{
    padding:5px;
    height:480px;
    background-color: rgba(0, 0, 0, 0.012);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.friend-box{
    /*background-color: rgba(0, 0, 0, 0.06);*/
    margin:0px;
    width:150px;
    height:45px;
    margin-top: 10px;
    border-radius: 9px;
    padding:5px;
    background-image: -webkit-linear-gradient(#fff, #eee);
    margin-right:8px;
    
}

.friend-box img{
    width:45px;
    height:45px;
    border-radius: 6px;
    margin-left:2.5px;  
}

.friend-box .span8{
    width:95px;
    
    margin-left:3px;
}

.friend-box .span4{
    width:50px;
    
    margin-left:0px;
}

.friend-box a{
    height: 17px;
    font-size: 8px;
}

.friend-box .span8 .btn{
    float:none;
    padding:1px 3px;
    margin-left:15px;
}

.mid{
    margin-right:14px;
    margin-left:14px;
}

.friend-box h4{
    font-size:12px;
    color: #AAA;
    text-shadow: 0px 1px 1px white;
}

.friend-box .btn{
    width:50px;

}

.friends-search{
    height:20px;
}
.friends-search > a:hover{
    text-decoration:none;
}
.friends-search .btn{
    margin-left:5px;
}
.friends-search >.pull-left{
    margin-left:0px;
}

.search-setting{
    position: relative;
    right:-25px;
}

.friends-list .aspects-btn{
    
    margin-top: 22px;
}


/*
Messages list
*/

.messages-list{
    padding:5px;
    background-color: rgba(0, 0, 0, 0.012);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    height:610px;
}

.messages-setting{
    height:20px;
    margin-bottom: 20px;
}
.messages-setting .btn{
    margin-left:5px;
}

.messages-setting > button{
    margin-right: 5px;
}
.messages-setting >.pull-left{
    margin-left:0px;
}

.messages-setting .more-button{
    position: relative;
    right:-25px;
    color:#eee;
    text-shadow: -0.1px 0.3px 1px #eee;
}


.message-box{
    padding:10px;
    border-radius: 9px;
    background-image: -webkit-linear-gradient(#fff, #eee);
    margin-bottom: 5px;
    
}
.message-box .span4{
    
    width:70px;
    margin:0px;
}

.message-box .span8{
        
    width:400px;
    margin:0px;
}

.message-box .span8 p{
    margin:0px;
}


.message-box .span8 p:nth-child(1) a{ /*message title*/
    color:#08C;
    text-shadow: -0.1px 0.3px 1px #003A56;
    font-size:17px;
}

.message-box .span8 p:nth-child(2), .message-box .span8 p:nth-child(2) a{ /*message sender*/
    margin-top:-3px;
    color:#aaa;
    text-shadow: -0.1px 0.3px 1px #aaa;
    font-size:11px;
    
}
.message-box .span8 p:nth-child(3) a{ /*message sample*/
    color:black;
}

.message-box .span2{
    
    width:10px;
    margin:0px;
    margin-top:20px;
    margin-left:0px;
}

.message-name{
    background-color: rgba(0, 0, 0, 0.05);
    margin-right: 0px;
    padding: 3px;
    padding-left: 5px;
}

.messages-list .row{
    width:480px;
    margin:auto;
    margin-bottom:5px;
}

.messages-list textarea{
    width:473px;
    margin-bottom:5px;
    background-color:#fff;
}
/*
Messages list
*/


/*
People Search list
*/
.people{
    padding:5px;
    margin-top:10px;
}
.person{
    height: 80px;
    margin:5px;
    padding:5px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3.3px 1px #ddd;
}

.person .span4{
    margin:0px;
    width:60px;
    text-align:center;

}

.person > .span5{
    margin:0px;
    width:120px;
    height: 60px;
    text-align:center;
    padding-top:15px;
}


.person .span5 .btn-group, .person .span5 .btn-group a{ 
    float:none;
}

.person .dropdown-menu, .friend-box .dropdown-menu, .ProfileFollowButton .dropdown-menu{
    text-align:left; 
}

.person .icon-list , .person .icon-check, .friend-box .icon-list , .friend-box .icon-check , .ProfileFollowButton .icon-list , .ProfileFollowButton .icon-check{
    float:left;
    margin-right:2px;
    margin-top:2px;
}

.selected-aspect{
    color:#08C !important;
}

.selected-aspect:hover{
    color:white !important;
}


.non-selected-aspect:hover{
    color:white !important;
}

.person .span8{

    margin:0px;
    width:290px;
    margin-left:5px;
    margin-right:5px;
}

.person .profile-pic{
    width:50px;
    height:50px;
    border-radius:5px;
}

.person .span5 button{
    margin-top:15px;
}

.person-bio{
    color:gray;
    clear: both;
}
.person .span8 h4, .person .span8 h5{
    float:left;
}
.person .span8 h5{
   color:gray;
   margin-left:6px; 
}
/*
People Search list
*/

/*
Profile Page
*/
.ProfileName{
    float:left; 
}
.ProfileFollowButton{
    float:right; 
    margin-top:5px; 
}
/*
Profile Page
*/


/*
Album Page
*/
#album-header{
    float:left;
}
.albums{
    padding:10px;
    clear:both;
    margin-top: 40px;

}


.album-details{
    margin-top: 5px;
    width:220px;
    height:40px;
}

#add-album{
    float:right;
    margin:10px;
    margin-right:0px;
}
.album-details a:hover{
    text-decoration:none;
}
.albums .span6{
    
    margin: 5px;
    margin-right:15px;
    width: 220px;
    text-align:center !important;
}

.album-thumb{
    padding: 8px 0px 0px 8px;
    margin-left:0px;
    background-color: rgba(0, 0, 0, 0.012);
    clear:both;
}
.album-thumb .span2 {
    width: 154px;
}
      
#album-action{
    background-color: rgba(0, 0, 0, 0.012);
    margin: 0px 0px 20px 0px;
    padding: 6px 0px 0px 0px;
    float:left;
    width:520px;
    text-align:left;
    margin-top:-15px;
} 
#album-action ul{
    margin-bottom: 5px;
    float:left;

}
.album-comments{
    clear:both;
}
.album-comments .content-footer .comments{
   margin-left:30px;
}
.album-comments .content-footer .comments textarea{
   margin:0px;
   max-width:500px;
   width:430px;
   margin-bottom:10px;

}
.Album-description{
    clear:both;
    color:gray;
    font-size:12px;
    margin-left:5px;
    font-family:ubuntu;
}
.image-preview{
    text-align: center;
}
.image-preview a{
    max-width:490px;
}
.caption{
    padding: 5px;
    float:left;
    width:510px;
    margin-top:-15px;
}
.caption img{
    width:40px;
    height: 40px;
    border-radius:5px;
    float:left;
}
.caption p{
    float:left;
    margin-left:5px;
}
.caption a{
    margin-left:5px;
}
.caption p > a{
    margin-left:3px;
}
.caption .span4,.caption .span8{
    margin: 0px;
}
.caption .span4{
    width: 50px;
}
.caption .span8{
    width: 450px;
}
.upload-time, .aupload-time{
    clear:both;
    color:gray;
    margin-left:5px;
    float:left;
    font-size:11px;
}
.psetting, .asetting {
    float:right;
    margin-right:5px;
    width:300px;
}
.psetting a, .asetting a{
    margin-left:8px;
    float:right;
}
.asetting a:nth-child(2), .asetting a:nth-child(3), .aupload-time{
    margin-top:4px;
}
/*
Album Page
*/

/* message notification counter*/
.navbar .nav > li > a{
    color: #fff;
    font-weight: bolder;
}

.profile-box a:hover{
    text-decoration: none;
}

.profile-box a:hover h5{
    color: #CCC;
}

input[type="submit"].btn{
    font-weight: bold;
}

.truenotifi, .falsenotifi{
    margin-top:5px;
    background:white;
    width:500px;
    padding:5px;
    box-shadow: 0px 0px 2px 1px #ddd;
    
}

.falsenotifi{
    background:rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 2px 1px #ddd;
    font-weight:bold;
}

a.falsenotifi:hover, a.truenotifi:hover{
    box-shadow: 0px 0px 2px 1px #006dcc;
    text-decoration:none;
    background-color:#08C;
    color:white;
}


.falsenotifi, .falsenotifi i, .falsenotifi img, .falsenotifi p,
.truenotifi, .truenotifi i, .truenotifi img, .truenotifi p{
    float:left; 
}

.falsenotifi p, .truenotifi p{
  font-size:15px;
  width: 400px;
  margin-top:7px;

}

.falsenotifi img, .truenotifi img{
    width:35px;
    height:35px;
    margin: 0px 5px;
    border-radius: 2px;
}

.falsenotifi i, .truenotifi i{
    margin-top:12px;
}
