// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 60px;
  font-family:"ubuntu";
  // zoom: 96%;
  background-color: #FAFAFA;

}


input, textarea, select, .uneditable-input{
  margin-bottom: 0;
}


 .LoginArea{
      float: right;
      margin-top: 31px;
      margin-right: 5px;
      color:#606060;
      display: block;
      font-size: 17px;
      
    }
    .navbar .brand {
    font-family:'Arista';
    font-weight:bold;
    float: left;
    display: block;
    padding: 4px 38px 12px;
    margin-left: -45px;
    line-height: 1;
    text-shadow: 4px 3px 0px rgba(204, 204, 204,.3);
    color: #08C;
    font-size: 100px;
    margin-top: -2px;
    margin-left: -37px;
  }
     .navbar .brand:hover {
      text-decoration: none;
      box-shadow: 0px 0px 0px 0px rgba(255,255,255, 0.4);
    text-shadow: 4px 3px 0px rgba(204, 204, 204,.1);
}
    .LoginArea button{
    position: relative;
    right: 0px;
    top: -6px;
    margin-left: 8px;
    font-size: 15px;
    padding: 10px;
    }

    #container-main{
      background-repeat:repeat-y;
      background-position:center; 
      color:white;
      margin:auto;
    }
    #container-main h1,h2{
      color:#08C; 
    }

    #container-main h3{
      color:#606060;
      text-shadow:none;
      margin-bottom:10px
    }

    #container-main h1{
      font-size:42px;
      width:auto;
      margin-bottom: 20px;
      line-height:120%;   
      margin-right: 62px;
      line-height: 53px;
    }

   .span7{     
    margin-top:70px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    padding-left:50px;
    width: 490px;;
    height:500px;
    padding-top:14px;
    color:#08C;
    background-color:rgba(255, 255, 255, .9);
  }

  .span5{   
    margin-top:70px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    padding-left:0px;
    height:500px;
    padding-top:14px; 
    background-color:rgba(255, 255, 255, .9);
    }
  .span7 button{
      margin-top: 20px;
      margin-bottom: 30px;
  
    }
    .info{
     color:#606060 !important;
    }
      #fix{
        margin-left: 0px;
      }

    

      /*
footer style
*/

.navbar-inner {
  height: 101px;
  background-image:none;
  border-bottom:none;
}

.footer-home{
    padding-top:10px;
    
    text-align:center;
    height:30px;
    position: static;
    background-color:transparent !important;
    border:0.5px solid #C4C1BD;
    bottom:0px;
    margin-bottom:0px;
    right:0px;
    left:0px;
    margin-top:20px;

    
}

.footer-links-home{
  text-align:center;
  
  float: none;
}
.footer-links-home ul{
  list-style:none;
  
}
.footer-links-home li{
  display:inline;
  
}

.footer-links-home li:after{
  content:"•";
  padding:0 5px;
   color:#606060;
}

.footer-links-home li:last-child:after{
  content:"";
  
}

.footer-links-home  a{
   color:#606060;
  
}
.footer-links-home a:hover{
  
  text-decoration: none;
  color:#08C;
}


.copyright-home{
  
  float: none;
  text-align:center;
  // margin-left 
}

.copyright-home p{
  font-family:ubuntu;
   color:#606060;
  margin-top:5px;
}

  #footer-contrainer{
        -moz-border-radius: 18px;
        -webkit-border-radius: 18px;
        border-radius: 18px;
        padding-top:0px;
  }   
     .navbar-fixed-top{
      position:absolute;
     }






